@media (max-width: 640px) {
  .keyboard-pics {
    justify-content: center;
  }
  .features {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
